<div class="container">
    <h1 class="pt-3">Editing Zombie</h1>

    <%= render 'form', zombie: @zombie %>

    <%= link_to 'Show', @zombie , class: "btn btn-primary mt-2"%> |
    <%= link_to 'Back', zombies_path, class: "btn btn-warning mt-2" %>

  </div>

</div>
